{% extends 'default/index.html.twig' %}


{% block cards %}
	<style type="text/css">
		.card-img-top {
	    width: 100%;
	    height: 15vw;
	    object-fit: cover;
	}
	</style>
	<br><br><br>
{# 	<h1>solo del query</h1>
	{{libros}}
	data|json_decode <-- este funciona, pero no lo voy a usar
	<h1>jsondecodeado</h1>
	{{librosJson}} #}
	<div class="container">
	<div class="justify-content-md-center card-deck">
		{% for libro in libros %}	
		<div class="card card-cascade border-secondary mb-3" style="min-width: 18rem; max-width: 18rem;">
		  <img class="card-img-top" src="{{libro.portada}}" alt="{{libro.titulo}}">
		  <div class="card-body">
		    <h5 class="card-title">{{libro.titulo}}</h5>
		    {# <p class="card-text" style="max-height: 10rem;">{{libro.resumen}} </p> #}

			<ul class="list-group list-group-flush">
			    <li class="list-group-item">Idioma: {{libro.idioma.nombre}}</li>
			    <li class="list-group-item">Cant. Páginas: {{libro.cantpaginas}}</li>
			</ul>	    
			<div class="card-footer">
		    	<small><a href="{{path('libro_show',{'id': libro.id })}} " class="btn btn-primary">Más Info</a></small>
		    </div>
		  </div>
		</div>	
		{% endfor %}
	</div>
	</div>
{% endblock %}