{% extends 'base.html.twig' %}
{% block body %}
    <h1>Lista de {{listaNombre}} </h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                {% for columna in columnas %}
                    <th>{{ columna }} </th>
                {% endfor %}
                    <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for elemento in elementos %}
            <tr>
                {# <td><a href="{{ elemento.id }}/show">{{ elemento.id }}</a></td>
                <td>{{ elemento.nombre }}</td> #}
                {% for atributo in atributos %}
                    {% set campo = attribute(elemento,atributo) %}
                    {% if campo.timestamp is defined %}
                        <td>{{campo|date("d/M/Y")}} </td>
                    {% else %}
                        <td>{{campo}}</td>
                    {% endif %}
                {% endfor %}
                <td>
                    <ul>
                        <li>
                            <a href="{{path(rutaShow,{'id': elemento.id }) }}" class="badge badge-primary">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path(rutaEdit, { 'id': elemento.id }) }}" class="badge badge-secondary">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path(rutaNew) }}" class="badge badge-primary">Crear {{entidadNombre}} </a>
        </li>
    </ul>
{% endblock %}
